* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color:#EFEEE5;
    width:100%;
    position:relative;
}

header {
    width: 100%;
    position: relative;
    /* margin: 20px; */
    padding: 20px;
    object-fit: contain;

}
.main-layout {
    width:80%;
    margin:auto;
    overflow-x: visible;
}

.header-assets {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 120px;
    margin-bottom: 20px;
}

.first-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: relative;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    right:29px;
    bottom: 80px;
    
}

.image {
    width:25%;
    object-fit: cover;
}

/* .sign-up {
    background-color: white;
    border-radius: 50%;
    width: 100%;
    height: 15%;
    text-align: center;
    vertical-align: center;
    padding: 9px;
    font-weight: bold;
} */

/* .signup-border {
    border: 2px solid black;
    border-radius: 50%;
    width: 100%;
    height: 15%;
    position: relative;
    bottom: 15%;   
    transform: translate(0px,0px) rotate(-11deg) scale(1);
} */

/* .signup-wrapper {
    position: relative;
    right:430px;
} */



.signup-border {
    border: 2px solid black;
    border-radius: 50%;
    width: 150%;
    height: 56%;
    position: relative;
    bottom: 60%;
    transform: translate(0px,0px) rotate(-11deg) scale(1);
}

.sign-up{
    background-color: white;
    border-radius: 50%;
    width: 150%;
    height: 56%;
    text-align: center;
    vertical-align: center;
    padding: 9px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-family: 'firaGO';
}

 .image-3 {
    position: relative;
    height: auto;
}

.image3-layout {
    position: absolute;
    width: 47%;
    height: 73%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 

/* 
.img3 {
    width: 100%;
    height: auto;

} */

.image-8 {
    position: relative;
    height: auto;
    bottom:120px;
}

.image8-layout {
    position: absolute;
    width: 100%;
    height: 73%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
    
} 

.image-1 {
    position: relative;
    height: auto;
    width: 100%;
    left:268px;
    top:5px
}

.image1-layout {
    position: absolute;
    width: 36%;
    height: 100%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 

.image-6 {
    position: relative;
    height: auto;
    width: 100%;
}

.image6-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 

.image-8-copy {
    width:28%;
}
.image-5 {
    position: relative;
    height: auto;
    top:10px;

}

.image5-layout {
    position: absolute;
    width: 71%;
    height: 72%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
    
} 

.second-line {
    display: flex;
    flex-direction: row;
}

.image-1-large{
    position: relative;
    height: auto;
    width: 15%;
    right: 190px;
}

.image1-layout-large {
    position: absolute;
    width: 80%;
    height: 72%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 


.image-5-tiny{
    position: relative;
    height: auto;
    width: auto;
}

.image5-layout-tiny {
    position: absolute;
    width: 90%;
    height: 20%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 


.image-3-tiny{
    position: relative;
    height: auto;
    width: 76%;
    left:259px;

}

.image3-layout-tiny {
    position: absolute;
    width: 50%;
    height: 94%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
    
} 

.image-wrapper-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 98px;
}

.image-2{
    position: relative;
    height: auto;
    width: 28%;

}

.image2-layout {
    position: absolute;
    width: 100%;
    height: 55%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 

.image-5-copy{
    position: relative;
    height: auto;
    width: 100%;
}

.image5-layout-copy {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 

.image-3-copy{
    position: relative;
    height: auto;
    width: 100%;
}

.image3-layout-copy {
    position: absolute;
    width: 27%;
    height: 27%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);
} 

.image-3-tiny-copy{
    position: relative;
    height: auto;
    width: 12%;
    top: 250px;
}

.image3-layout-tiny-copy {
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, #F5F3EC 1.34%, rgba(245, 243, 236, 0) 95.85%);  
} 

.talent {
    width:45%;
    text-align: center;
    height: 15vh;
    padding: 46px;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    font-family: 'firaGO';
    font-weight: 350;
    font-style: italic;
    font-size: 40px;
    line-height: 48px;
}
.bold-text {
    font-weight: bold;
    font-style:normal;
}
.search-box {
    position: relative;
    bottom: 285px;
    width: 100%;
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    padding: 40px 30px;
    border-radius: 0px 20px 20px 20px;
    gap: 14px;
    width:100%;

}

.select-talent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 20px;
    background-color: #FCFBFA;
    width: 25%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

}

.talent-text {
    font-family: 'firaGo';
    font-style: italic;
    font-size: 24px;
    line-height: 28.8px;
    color: #2D2A2A;

}
.select-event {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    background-color: #FCFBFA;
    padding:20px;
}

.select-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    background-color: #FCFBFA;
    font-size: 24px;
    padding:20px;
}

.selector {
    font-family: 'firaGo';
    font-size: 24px;
    font-style: italic;
    color: #2D2A2A;
    border: 1px solid #FCFBFA;
    background-color: #FCFBFA;
    -webkit-appearance: none;
}

.event-text {
    font-family: 'firaGo';
    font-style: italic;
    font-size: 24px;
    line-height: 28.8px;
    color: #2D2A2A;
    
}
.search {
    background: #274546;
    width: 25%;
    color:#FFFFFF;
    text-align: center;
    padding: 20px;
    font-family: 'firaGO'; 
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    border-radius: 10px;

}

.subtitle {
    font-size: 40px;
    font-family: 'firaGO';
    font-style: italic;
    line-height: 48px;
    font-weight: 700;
    margin-left: 30px;
}

.arrow {
    width:16px;
    height:30px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
    gap: 16px;
    margin-top:76px;
    width: 100%;
    padding: 8px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 15px;
    padding-right: -15px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

grid-item img {
    object-fit: contain;
}

.grid-item:hover {
    background-color: #274546;
    color:white;
    transition: 0.75s;
}

.role {
    font-family: 'firaGO';
    font-weight: 300;
    font-style: italic;
    font-size:20px;
    text-align: right;
    color: #2D2A2A;
    margin-top: 28px;
}

.name {
    font-family: 'firaGO';
    font-weight: 700;
    font-size:30px;
    text-align: left;
    line-height: 36px;
}

.main-section {
    position: relative;
    bottom:90px;

}

.see-more-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.see-more {
    background-color: #274546;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    padding: 10px;
    height: 9vh;
}

.see-more-text {
    color: #fff;
    font-style: italic;
    font-weight: 700;
    font-family: 'firaGO';
    font-size: 24px;
}

footer {
    margin-top:50px;
    text-align: right;
    font-family: 'BPG Banner Caps';
    font-weight: 400;
    font-size: 12px;
    color:#2D2A2A;
}

.line-container {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
}

.line-container div {
    width: 80%;
    display: flex;
}

.line {
    width: 25%;
    height: 100vh;
}

.left {
    border-left: 1px solid #000;
}

.right {
    border-right: 1px solid #000;
}


/* .line-container {

}

hr {
    transform: rotate(90deg);
    position: relative;
    bottom: 20px;
    color:black ;
    border: 1px solid black;
    height: 100vh;
} */
/* 
hr {
    transform: rotate(90deg);
}

.hr-1 {
    position: relative;
    left:20px;
}

.hr-2 {
    position: relative;
    right:20px;
}

hr-3 {
    position: relative;
    right:40px;  
    bottom: 2000px;
    height:4000px;
}

.hr-4 {
    position: relative;
    left:40px;  
}

.hr-5 {
    position: relative;
    left:60px; 
} */